{% extends 'ihrdc_layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Categories{% endblock %}

{% block content %}
    <!-- Course Catalog Section -->
    <section class="course-catalog">
        <div class="container">
            <h2 class="section-title">Training Categories</h2>
            <div class="catalog-header">
                <div class="filters">
                    <select>
                        <option>Sort by: Popular</option>
                        <option>Sort by: Newest</option>
                        <option>Sort by: Price</option>
                    </select>
                    <select>
                        <option>Duration: Any</option>
                        <option>1-3 Days</option>
                        <option>4-5 Days</option>
                        <option>1+ Week</option>
                    </select>
                </div>
            </div>
            <div class="catalog-grid">
                {% for course in categories %}
                <div class="catalog-card">
                    <div class="card-header">
                        <h3>{{course.name}}</h3>
                        <div class="card-image">
                            {% if course.image %}
                            <img src="{{course.image.url}}" alt="{{course.name}}">
                            {% else %}
                            <img src="{% static 'layout/images/default_course_img.jfif' %}" alt="{{course.name}}">
                            {% endif %}
                        </div>
                    </div>
                    <div class="card-details">
                        <p>{{course.description | truncatewords:25}}</p>
                    </div>
                    <div class="card-footer">
                        <a href="{% url 'course_detail' course.id %}" class="btn btn-outline">{% translate "Learn More" %}</a>
                        <a href="{% url 'payment_page' course.id %}" class="btn btn-primary">{% translate "Enroll Now" %}</a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}
