{% extends 'ihrdc_layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <!-- Hero Section -->
    {% blocktrans %}
    <section class="course-details-hero">
        <h1>What We Do</h1>
        <p>Discover more about what we have to offers.</p>
    </section>
    {% endblocktrans %}

    <!-- Course Details Section -->
    <div class="service-detail">
        <div class="service-header">
            <i class="fas fa-graduation-cap"></i>
            
            <h1>{% trans "Expert Consultancy" %}</h1>
        </div>
        
        <div class="service-description"> 
            <p>{% trans "Rapid, targeted consulting to resolve organizational bottlenecks and drive strategic improvements." %}</p>
        </div>
        
        <div class="service-benefits">
            <h2>{% translate "Service Areas" %}</h2>
            <ul>
               {% blocktrans %}
                <li>Strategic Planning</li>
                <li>Process Optimization</li>
                <li>Technology Integration</li>
                <li>Performance Enhancement</li>
                {% endblocktrans %}  
            </ul>
        </div>
        
        <div class="call-to-action">
            <a href="{% url 'courses' %}" class="btn btn-primary">{% trans "Enroll Now" %}</a>
            <a href="{% url 'contact' %}" class="btn btn-outline">{% trans "Contact Us" %}</a>
        </div>
    </div>
{% endblock %}