{% extends 'ihrdc_layout/base.html' %}
{% load static %}
{% load i18n %}

{% block title %}Course{% endblock %}

{% block content %}
    <!-- Hero Section -->
    {% blocktrans %}
    <section class="course-details-hero">
        <h1>Course Details</h1>
        <p>Discover more about this course and what it offers.</p>
    </section>
    {% endblocktrans %}

    <!-- Course Details Section -->
    <section class="course-details">
        <div class="container">
            <div class="course-header">
                <h2>{{course.title}}</h2>
                <p>{% trans "Category" %}: <span class="course-category">{{course.category}}</span></p>
            </div>
            <div class="course-body">
                {% if course.image %}
                <div class="course-image">
                    <img src="{{course.image.url}}" alt="Course Image">
                </div>
                {% endif %}
                <div class="course-description">
                    <h3>{% trans "About This Course" %}</h3>
                    <p>
                        {{course.description}}
                    </p>
                    <p><strong>{% trans "Duration" %}:</strong> {{course.duration}}</p>
                    {% comment %} <p><strong>Level:</strong> Beginner to Advanced</p> {% endcomment %}
                </div>
            </div>
            <div class="course-footer">
                <a href="{% url "payment_page" course.id %}" class="btn btn-primary">{% trans "Enroll Now" %}</a>
                <p><strong>{% trans "Price" %}:</strong> ${{course.price}}</p>
            </div>
        </div>
    </section>
{% endblock %}