<div class="services-grid">
    <div class="service-card">
        <i class="fas fa-graduation-cap"></i>
        {% blocktrans %}
        <h3>Professional Training</h3>
        <p>Industry-specific courses designed by experts, customized training programs for organizations</p>
        {% endblocktrans %}
    </div>
    <div class="service-card">
        <i class="fas fa-users"></i>
        {% blocktrans %}
        <h3>Upskilling/Reskilling</h3>
        <p>Re-tooling your skillsets and acquired knowledge to adapt to the changing business climate....</p>
        {% endblocktrans %}
    </div>
    <div class="service-card">
        <i class="fas fa-certificate"></i>
        {% blocktrans %}
        <h3>Certification</h3>
        <p>Internationally recognized certifications</p>
        {% endblocktrans %}
    </div>
    <div class="service-card">
        <i class="fas fa-comments"></i>
        {% blocktrans %}
        <h3>Consultancy</h3>
        <p>Resolve bottlenecks within minutes</p>
        {% endblocktrans %}
    </div>
</div>